
<% include ./partials/header %>
<% include ./partials/topBanner %>

<button onclick="getLocation()">Try It</button>
<p id="demo"></p>
<div id="clock" >

</div>
<div class="clock-in-box">
  <div class="checkin-box">
    <%if(!(result.length)){%>
      <form class="" action="clock/in" method="post">
      <button class='btn' type="submit" name="button">Clock In</button>
    </form>
  <%}else{%>
    <%if(result[result.length-1].clockin_time){%>
      <form class="" action="clock/out/<%=result[result.length-1].id%>" method="post">
        <button  class='btn btn-danger' type="submit" name="button">Clock Out</button>
      </form>
    <%}else{%>
      <form class="" action="clock/in" method="post">
        <button class='btn btn-success' type="submit" name="button">Clock In</button>
      </form>
    <%}%>
  <%}%>

  </div>

  <div class="log-box">


    <%if((result)==false){%>
    <%}else{%>
      <h1>TODAY IS <%=result[0].date%></h1>
      <%result.forEach((item)=>{%>
        <%if(item.clockin_time){%>
            <h4>Clock in at <%=item.clockin_time.slice(0,5)%></h4><br>
        <%}else{%>
            <h4>Clock out at <%=item.clockout_time.slice(0,5)%></h4><br>
            <h4>Today you worked <%=item.workingtime%> Hours</h4><br>
            <h4>You got $<%=item.workingtime*15%> Today</h4>
        <%}%>
      <%})%>
    <%}%>


  </div>







</div>






<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script type="text/javascript">
function clock(){

//Save the times in variables

var today = new Date();

var hours = today.getHours();
var minutes = today.getMinutes();
var seconds = today.getSeconds();


//Set the AM or PM time

if (hours >= 12){
  meridiem = " PM";
}
else {
  meridiem = " AM";
}


//convert hours to 12 hour format and put 0 in front
if (hours>12){
	hours = hours - 12;
}
else if (hours===0){
	hours = 12;
}

//Put 0 in front of single digit minutes and seconds

if (minutes<10){
	minutes = "0" + minutes;
}
else {
	minutes = minutes;
}

if (seconds<10){
	seconds = "0" + seconds;
}
else {
	seconds = seconds;
}


document.getElementById("clock").innerHTML = (hours + ":" + minutes + ":" + seconds + meridiem);

}


setInterval('clock()', 1000);
</script>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}
</script>

<% include ./partials/footer %>
