
<% include ./partials/header %>
<% include ./partials/topBanner %>
<div class="">

  <%if(result[result.length-1].clockin_time){%>
    <form class="" action="clock/out/<%=result[result.length-1].id%>" method="post">
      <button  class='btn' type="submit" name="button">Clock Out</button>
    </form>
  <%}else{%>
    <form class="" action="clock/in" method="post">
      <button class='btn' type="submit" name="button">Clock In</button>
    </form>
  <%}%>

  <h1>TODAY IS : <%=result[0].date%></h1>
  <h1>TIMECARD</h1>
  <%result.forEach((item)=>{%>
    <%if(item.clockin_time){%>
        <h4>Clock in at <%=item.clockin_time.slice(1,5)%></h4><br>
    <%}else{%>
        <h4>Clock out at <%=item.clockout_time.slice(1,5)%></h4><br>
        <h4>Today you worked <%=item.workingtime%> Hours</h4><br>
    <%}%>
  <%})%>


</div>

<% include ./partials/footer %>
