<% include ./partials/header %>
<body class="inbox-ejs">
<div class="container" id="inbox-container">
  <div class="row">
    <div class="col-12">
    <div class="btn">
      <a   href="/inbox">Unread</a>
    </div>
    <div class="btn">
      <a  href="/inbox/read">Archive</a>
    </div>
    <div  class="btn">
      <a href="/inbox/completed">Completed</a>
    </div>
  </div>
  </div>

  <div class="">
    <%for(let i=0; i< result.length; i++){%>
      <p>x</p>
      <h4><%=result[i].name%></h4>
      <p><%=result[i].content%></p>
      <hr>
      <!-- <form class="" action="/inbox/read/<%=result[i].id%>" method="post">
        <button type="submit" name="button">unread</button>
      </form> -->
      <div class="inbox-stuff">
      <form class="" action="/inbox/complete/<%=result[i].id%>" method="post">
        <button  class='btn btn-primary' type="submit" name="button">read</button>
      </form>
      <form class="" action="/inbox/delete/<%=result[i].id%>" method="get">
        <button class='btn btn-danger'type="submit" name="button">X</button>
      </form>

    <%}%>

  </div>
</div>

</div>
<br><br>
</body>
<% include ./partials/footer %>
