<% include ./partials/header %>
<body class="inbox-ejs">
<div class="container" id="inbox-container">
  <div class="row">
    <div class="col-12">
    <div class="btn" >
      <a   href="/inbox">Unread</a>
    </div>
    <div class="btn" >
      <a  href="/inbox/read">Archive</a>
    </div>
    <div  class="btn" >
      <a href="/inbox/completed">Completed</a>
    </div>
    </div>
  </div>
  <div class="">
    <%for(let i=0; i< result.length; i++){%>
      <h4><%=result[i].name%></h4>
      <p><%=result[i].content%></p>
      <hr>
      <form class="index-btn-box" action="/inbox/read/<%=result[i].id%>" method="post">
        <button class='inboxBtns' type="submit" name="button">UnRead</button>
      </form>
      <form class="index-btn-box" action="/inbox/complete/<%=result[i].id%>" method="post">
        <button  class="inboxBtns" type="submit" name="button">Completed</button>
      </form>
      <form class="index-btn-box" action="/inbox/delete/<%=result[i].id%>" method="get">
        <button class='inboxBtns' type="submit" name="button">Delete</button>
      </form>

    <%}%>

  </div>


</div>
</body>
<% include ./partials/footer %>
