<% include ./partials/header %>
<div class="container">
  <div class="row">
    <div class="btn" >
      <a   href="/inbox">Unread</a>
    </div>
    <div class="btn" >
      <a  href="/inbox/read">Read</a>
    </div>
    <div  class="btn" >
      <a href="/inbox/completed">Complted</a>
    </div>
  </div>
  <div class="">
    <%for(let i=0; i< result.length; i++){%>
      <h4><%=result[i].name%></h4>
      <p><%=result[i].content%></p>
      <hr>
      <form class="" action="/inbox/read/<%=result[i].id%>" method="post">
        <button class='btn  btn-outline-primary' type="submit" name="button">Read</button>
      </form>
      <!-- <form class="" action="/inbox/complete/<%=result[i].id%>" method="post">
        <button type="submit" name="button">Completed</button>
      </form> -->
      <form action="/inbox/delete/<%=result[i].id%>" method="get">
        <button class="btn btn-outline-danger" type="submit" name="button">X</button>
      </form>

    <%}%>

  </div>


</div>
<% include ./partials/footer %>
